@font-face {
    font-family: "La Distorsionada";
    src:url(assets/font/La\ Distorsionada.otf);
}





.slider h3
.slider h5
.brand h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
    height: 60%;
}

.parallax img {
    
    opacity: 0.5 !important;
}

.brand img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section, footer {
    padding: 20px 0;
}
.brand-logo {
    font-family: "La Distorsionada";
    font-weight: bold;
}
.brand-logo img {
    max-width: 50%;
}

.about {
    font-size: 15px;
}
.button {
    margin-left: 10%;
    margin-top:10%;
    margin-bottom: 5%;
    
}


.end p {
    text-align: center;
    font-size: 65px;
    font-family:"La Distorsionada";
    font-weight: bold;
}
.contact {
    display: flex;
}

.contact a {
    margin: 0px 15px 0px 15px;
}
@media (max-width:670px) {
    .brand-logo img {
        margin-left: 75px;
    }
}